.root {
    position: relative;
    left: -100px;
}

.input {
    padding: 10px 35px;
    font-size: 16px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 400px;
}

.loop {
    width: 30px;
    height: auto;
    position: absolute;
    opacity: 0.2;
    left: 7px;
    top: 7px;
}

.close {
    position: absolute;
    width: 18px;
    height: auto;
    opacity: 0.2;
    right: 12px;
    top: 14px;
    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}
